<html>

<body style="background: #23a6d5; font-family: Lucida Console;">
    <p>Hello [username],
        <br>
        <br>
        [message]
        <br>
        <br>
        <button href="http://127.0.0.1:5000/" style="padding: 5px 10px;
        background-color: #6020f5;
        border: 1px solid;
        border-color:#ffffff;
        color: white;
        font-family: Lucida Console;
         ">Open PetChat&#9733;</button>
         <br>
         <br>
        To play the minigames press "pet maps" to get pet routes
        Have a good day :)
        <br>
        <br>
        - PetChat Team
    </p>
</body>

</html>