<img src="../static/images/Daisy.png" style="display: none" id="Daisy_img" />
<img src="../static/images/Moonlight.png" style="display: none" id="Moonlight_img" />

<div class="house">
  <div id="mini_phone" class="mini-phone" onclick="open_phone();">
    <button style="border: none; background: none">
      <img src="../static/images/mini-phone.png" />
    </button>
  </div>
  <div id="phone">
    <div class="phone-edges"></div>
    <div class="phone">
      <div class="phone-ui">
        <p id="clock">00:00</p>
        <p id="date">testday testmonth</p>
        <p id="coins">50 G</p>
      </div>

      <div class="phone-ui">
        <p>
          <button id="maps1" class="phone-ui hide" onclick="start_s()">Start Walk(game)☆</button>
        </p>
        <p>
          <button id="maps2" class="phone-ui hide" onclick="">Route > Pet Shop☆</button>
        </p>
        <p>
          <button id="msg_btn" class="phone-ui" onclick="under_construction()">
            Messages&#x2709;[{{ mail_count }}]
          </button>
        </p>
        <p>
          <button id="petmaps" class="phone-ui" onclick="pet_maps()">PetMaps ☆☆☆</button>
        </p>
        <p>
          <button id="fitpet" class="phone-ui" onclick="pet_care()">FitPet+ ☆☆☆</button>
        </p>
        <p id="maps4" class="phone-ui hide">Under-Construct</p>
        <p>
          <button id="maps3" class="phone-ui hide" onclick="back()">< back</button>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  var phone = document.getElementById("phone");
  var mini_phone = document.getElementById("mini_phone");
  var maps1 = document.getElementById("maps1");
  var maps2 = document.getElementById("maps2");
  var petmaps = document.getElementById("petmaps")
  var fitpet = document.getElementById("fitpet")
  var msg_btn = document.getElementById("msg_btn")

  window.onresize = function () {
    toggle_phone();
  };

  function toggle_phone() {
    if (window.innerWidth < 1075) {
      phone.className = "hide";
      mini_phone.clasName = "show";
    }
    else {
      phone.className = "show";
      mini_phone.className = "hide";
    };
  };


  function open_phone() {
    console.log("test");
  };

  function pet_maps(){
    maps1.className = "phone-ui show"
    maps2.className = "phone-ui show"
    maps3.className = "phone-ui show"
    petmaps.className = "hide"
    fitpet.className = "hide"
    msg_btn.className = "hide"

  };

  function back(){
    maps1.className = "phone-ui hide"
    maps2.className = "phone-ui hide"
    maps3.className = "phone-ui hide"
    maps4.className = "phone-ui hide"
    petmaps.className = "phone-ui show"
    fitpet.className = "phone-ui show"
    msg_btn.className = "phone-ui show"
  }

  function messages(){
    phone.className = "hide";
    mini_phone.clasName = "hide";

    
  }

  function under_construction(){
    maps1.className = "phone-ui hide"
    maps2.className = "phone-ui hide"
    maps3.className = "phone-ui show"
    maps4.className = "phone-ui show"
    petmaps.className = "hide"
    fitpet.className = "hide"
    msg_btn.className = "hide"

  }

</script>