<img src="../static/images/Daisy.png" style="display: none" id="Daisy_img" />
<img src="../static/images/Moonlight.png" style="display: none" id="Moonlight_img" />

<div class="house">
  <div id="mini_phone" class="mini-phone" onclick="open_phone();">
    <button style="border: none; background: none">
      <img src="../static/images/mini-phone.png" />
    </button>
  </div>
  <div id="phone">
    <div class="phone-edges"></div>
    <div class="phone">
      <div class="phone-ui">
        <p id="clock">00:00</p>
        <p id="date">testday testmonth</p>
        <p>50 G</p>
      </div>

      <div class="phone-ui">
        <p>
          <button class="phone-ui" onclick="messages();">
            Messages&#x2709;[{{ mail_count }}]
          </button>
        </p>
        <p>
          <button class="phone-ui" onclick="run_minigame();">PetMaps ☆☆☆</button>
        </p>
        <p>
          <button class="phone-ui" onclick="pet_care()">FitPet+ ☆☆☆</button>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  var phone = document.getElementById("phone");
  var mini_phone = document.getElementById("mini_phone");

  window.onresize = function () {
    toggle_phone();
  };

  function toggle_phone() {
    if (window.innerWidth < 1075) {
      phone.className = "hide";
      mini_phone.clasName = "show";
    }
    else {
      phone.className = "show";
      mini_phone.className = "hide";
    };
  };


  function open_phone() {
    console.log("test");
  };

</script>